.pagination {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  min-height: 24px;
}

.pagination button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}

.item button:hover {
  cursor: pointer;
  font-size: 130%;
  text-shadow: 0 0 5px #fff;
}

.paginationNumbers {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.totalCount {
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: -3px;
}
